body {
  font: 12px sans-serif;
}

circle{
	cursor : pointer;
	z-index: 5;
}

text{
	z-index: 1;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.tooltip {
	position: fixed;
	transition: opacity 0.3s;
    text-shadow:1px 1px 0px gray;
	display: block;
	line-height: 1;
	font-weight: bold;
	padding: 10px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
	z-index: 20;
}

/* Creates a small triangle extender for the tooltip */
.tooltip:after {
  box-sizing: border-box;
  margin-left: -20px;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.tooltip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
