/* Police accueil */
@font-face {
    font-family: "Calendas Plus";
    src: url("fonts/Calendas_Plus.otf");
}

body{
	min-width: 800px;
	width: 1000px;
	margin: 0 auto;
	color: black;
	font-family: "Calendas Plus", Georgia, serif;
	background: url("../image/graph-tile.png") repeat;
}

#homePage
{
	background-color:#909090;
	background: url("../image/backGround.jpg") no-repeat center;
	background-repeat:no-repeat;
	font-size:25px;
	font-family: "Calendas Plus", Georgia, serif;
}

/*
For every form
*/
.form{
	
}

/*
A block that contains a Google Map
*/

#carte
{
	min-width: 500px;
	min-height: 500px;
}

/*
Block de coordonées
*/
.coords{
}

.coordBox{
	padding : 1px 2px 1px 2px;
	border: 3px double;
	border-color:#999966;
}

#homePage p{
    font-size: 16px;
    margin: 15px 0;
}

#homePage h1{
	margin-left : 10px;
	font-size: 45px;
	margin: 30px 0;
	background: transparent;
}

#homePage h2{
	font-size: 20px;
	font-weight: normal;
	margin: 5px;
	text-align: center;
}
/*
Format title
*/

p {
    font-size: 16px;
    margin: 15px 0;
}

h1{
	font-size: 45px;
	margin: 0;
	line-height: 60px;
	padding: 5px;
	background: rgba(0, 0, 0, 0.1);
}

h2{
	font-size: 20px;
	margin: 5px;
}

p {
    font-size: 16px;
    margin: 15px 0;
}
/*
The block of user input (contains all Addroutes stuff
*/
article.userInput{
	width: 400px;
	padding :  5px, 0, 5px 5px;
}

article.userInput strong{
	margin-left:5px;
}

/*
Left side float
*/ 
.leftSide
{
	float: left;
	padding: 10px;
	width: 380px;
	background: rgba(0,0,0,0.1);
	min-height: 480px;
}

.leftSide h1 {
	background: transparent;
}

section.parcours {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	padding: 5px;
	margin: 10px 0;
	
}

/*
Main windows
*/

.center
{
	border-radius: 25px;
	background: rgba(150, 150, 150, 0.5);
	padding: 40px;
	padding-top: 10px;
	width:440px;
	margin:auto;
}

.center h1
{
	text-align:center;
}

.address{
}

#addForm input[type="text"]{
	width: 350px;
	margin-bottom: 3px;
}

#addForm textarea{
	width: 350px;
}

#addForm h2{
	text-align: center;
}

#transportation h2{
	text-align: left;
}

#homePage input[type="text"]
{
	border: 0;
	padding: 7px; 
	height: 27px;
	font-size: 20px;
	width: 200px;
}

#researchResultPage
{
	font-size:15px;
}

#researchResultPage h1
{
	font-size:25px;
}

#researchResultPage h3
{
	font-size:20px;
}

#researchResultPage .leftSide h1
{
	text-align:center;
}

#researchResultPage .leftSide article h1
{
	text-align:left;
}

.vote 
{
	float: left;
	width: 35px;
	text-align: center;
}

.route
{
	margin-left: 40px;
}

.parcours
{	
	border-bottom: 1px solid #909090;
}


input[type="submit"]
{
	height: 35px;
	font-size: 25px;
	width: 250px;
}
.inputSubmit 
{
	text-align:center;
}

/*
Css pour le footer
*/
footer
{	
	position:absolute;
	bottom:0;
	clear: both;
	text-align:right;
	height:40px;
	font-size: 15px;
	background-color: #202020; 
	color: #909090;
	left:0;
	padding-right:2%;
	width:98%;
}

footer a
{
	text-decoration:none; 
	color: #909090;
}

.footer
{
	padding-top: 0px;
}

footer li
{
	display: inline-block;
	border-left: 1px solid #909090;
	padding-left: 15px;
	padding-right: 10px
}

.firstElement
{
	border-left: 0;
}
