

#something{
	margin: 5px;
	width: 100%;
	height: 600px;
}

	.column{
		float:left;
		padding: 5px;

	}
		#webGL{
			width: 800px;		/*Should be the same as WIDTH and HEIGHT in meteorite_visualization.js !!*/
			height: 600px;		/*Should be the same as WIDTH and HEIGHT in meteorite_visualization.js !!*/
			border-right: 2px dashed black;
			margin: 1px;
		}

		#info{
			margin-left: 20px;
			min-width:50px;
			min-height: 100px;
			height: 600px;		/*Should be the same as WIDTH and HEIGHT in meteorite_visualization.js !!*/
			clear: right;
		}

			#loadingBars {
				height: 75px;
			}
			
			#meteorLog{
				max-height: 525px;
				clear: right;
			}
#controls{
	margin: 10px;
	padding-top: 10px;
}